<div class="outer-image">
    <nav class="navbar-expand-sm bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="fa-solid fa-screwdriver-wrench"></a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-house" (click)="toDashboard()"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-user" (click)="toAccount()"> Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-cart-shopping" (click)="toCart()"> Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-car" (click)="toVin()"> VIN</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="fa-solid dropbtn bg-dark">Parts</button>
                            <div class="fa-solid dropdown-content">
                                <a (click)="toBrakes()">Brakes</a>
                                <a (click)="toEngines()">Engines</a>
                                <a (click)="toOils()">Oils</a>
                                <a (click)="toRadiators()">Radiators</a>
                                <a (click)="toSuspensions()">Suspensions</a>
                                <a (click)="toTransmisions()">Transmisions</a>
                                <a (click)="toWheels()">Wheels</a>
                                <a (click)="toChasis()">Chasis</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">
                    <div class="input-field">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="items-container mx-auto">
            <div class="grid-container">
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/suspensions_1.jpg" alt="sasiu1">
                    </div>
                    <div class="item-details">
                        <p>Name: {{suspensionsArray[0].name}}</p>
                        <p>Manufacturer: {{suspensionsArray[0].manufacturer}}</p>
                        <p>Model: {{suspensionsArray[0].model}} Year: {{suspensionsArray[0].year}} Type:
                            {{suspensionsArray[0].type}}</p>
                        <p>Description: {{suspensionsArray[0].description}}</p>
                        <p>Price: {{suspensionsArray[0].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(suspensionsArray[0].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/suspensions_2.jpg" alt="sasiu2">
                    </div>
                    <div class="item-details">
                        <p>Name: {{suspensionsArray[1].name}}</p>
                        <p>Manufacturer: {{suspensionsArray[1].manufacturer}}</p>
                        <p>Model: {{suspensionsArray[1].model}} Year: {{suspensionsArray[1].year}} Type:
                            {{suspensionsArray[1].type}}</p>
                        <p>Description: {{suspensionsArray[1].description}}</p>
                        <p>Price: {{suspensionsArray[1].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(suspensionsArray[1].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/suspensions_3.jpg" alt="sasiu3">
                    </div>
                    <div class="item-details">
                        <p>Name: {{suspensionsArray[2].name}}</p>
                        <p>Manufacturer: {{suspensionsArray[2].manufacturer}}</p>
                        <p>Model: {{suspensionsArray[2].model}} Year: {{suspensionsArray[2].year}} Type:
                            {{suspensionsArray[2].type}}</p>
                        <p>Description: {{suspensionsArray[2].description}}</p>
                        <p>Price: {{suspensionsArray[2].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(suspensionsArray[2].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/suspensions_4.jpg" alt="sasiu4">
                    </div>
                    <div class="item-details">
                        <p>Name: {{suspensionsArray[3].name}}</p>
                        <p>Manufacturer: {{suspensionsArray[3].manufacturer}}</p>
                        <p>Model: {{suspensionsArray[3].model}} Year: {{suspensionsArray[3].year}} Type:
                            {{suspensionsArray[3].type}}</p>
                        <p>Description: {{suspensionsArray[3].description}}</p>
                        <p>Price: {{suspensionsArray[3].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(suspensionsArray[3].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/suspensions_5.jpg" alt="sasiu5">
                    </div>
                    <div class="item-details">
                        <p>Name: {{suspensionsArray[4].name}}</p>
                        <p>Manufacturer: {{suspensionsArray[4].manufacturer}}</p>
                        <p>Model: {{suspensionsArray[4].model}} Year: {{suspensionsArray[4].year}} Type:
                            {{suspensionsArray[4].type}}</p>
                        <p>Description: {{suspensionsArray[4].description}}</p>
                        <p>Price: {{suspensionsArray[4].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(suspensionsArray[4].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/suspensions_6.jpg" alt="sasiu6">
                    </div>
                    <div class="item-details">
                        <p>Name: {{suspensionsArray[5].name}}</p>
                        <p>Manufacturer: {{suspensionsArray[5].manufacturer}}</p>
                        <p>Model: {{suspensionsArray[5].model}} Year: {{suspensionsArray[5].year}} Type:
                            {{suspensionsArray[5].type}}</p>
                        <p>Description: {{suspensionsArray[5].description}}</p>
                        <p>Price: {{suspensionsArray[5].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(suspensionsArray[5].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/suspensions_7.jpg" alt="sasiu7">
                    </div>
                    <div class="item-details">
                        <p>Name: {{suspensionsArray[6].name}}</p>
                        <p>Manufacturer: {{suspensionsArray[6].manufacturer}}</p>
                        <p>Model: {{suspensionsArray[6].model}} Year: {{suspensionsArray[6].year}} Type:
                            {{suspensionsArray[6].type}}</p>
                        <p>Description: {{suspensionsArray[6].description}}</p>
                        <p>Price: {{suspensionsArray[6].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(suspensionsArray[6].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/suspensions_8.jpg" alt="sasiu8">
                    </div>
                    <div class="item-details">
                        <p>Name: {{suspensionsArray[7].name}}</p>
                        <p>Manufacturer: {{suspensionsArray[7].manufacturer}}</p>
                        <p>Model: {{suspensionsArray[7].model}} Year: {{suspensionsArray[7].year}} Type:
                            {{suspensionsArray[7].type}}</p>
                        <p>Description: {{suspensionsArray[7].description}}</p>
                        <p>Price: {{suspensionsArray[7].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(suspensionsArray[7].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/suspensions_9.jpg" alt="sasiu9">
                    </div>
                    <div class="item-details">
                        <p>Name: {{suspensionsArray[8].name}}</p>
                        <p>Manufacturer: {{suspensionsArray[8].manufacturer}}</p>
                        <p>Model: {{suspensionsArray[8].model}} Year: {{suspensionsArray[8].year}} Type:
                            {{suspensionsArray[8].type}}</p>
                        <p>Description: {{suspensionsArray[8].description}}</p>
                        <p>Price: {{suspensionsArray[8].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(suspensionsArray[8].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/suspensions_10.jpg" alt="sasiu10">
                    </div>
                    <div class="item-details">
                        <p>Name: {{suspensionsArray[9].name}}</p>
                        <p>Manufacturer: {{suspensionsArray[9].manufacturer}}</p>
                        <p>Model: {{suspensionsArray[9].model}} Year: {{suspensionsArray[9].year}} Type:
                            {{suspensionsArray[9].type}}</p>
                        <p>Description: {{suspensionsArray[9].description}}</p>
                        <p>Price: {{suspensionsArray[9].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(suspensionsArray[9].id)">Add To
                            Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>