<div class="outer-image">
    <nav class="navbar-expand-sm bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="fa-solid fa-screwdriver-wrench"></a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-house" (click)="toDashboard()"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-user" (click)="toAccount()"> Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-cart-shopping" (click)="toCart()"> Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-car" (click)="toVin()"> VIN</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="fa-solid dropbtn bg-dark">Parts</button>
                            <div class="fa-solid dropdown-content">
                                <a (click)="toBrakes()">Brakes</a>
                                <a (click)="toEngines()">Engines</a>
                                <a (click)="toOils()">Oils</a>
                                <a (click)="toRadiators()">Radiators</a>
                                <a (click)="toSuspensions()">Suspensions</a>
                                <a (click)="toTransmisions()">Transmisions</a>
                                <a (click)="toWheels()">Wheels</a>
                                <a (click)="toChasis()">Chasis</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">
                    <div class="input-field">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="items-container mx-auto">
            <div class="grid-container">
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/wheels_1.jpg" alt="sasiu1">
                    </div>
                    <div class="item-details">
                        <p>Name: {{wheelsArray[0].name}}</p>
                        <p>Manufacturer: {{wheelsArray[0].manufacturer}}</p>
                        <p>Model: {{wheelsArray[0].model}} Year: {{wheelsArray[0].year}} Type: {{wheelsArray[0].type}}
                        </p>
                        <p>Description: {{wheelsArray[0].description}}</p>
                        <p>Price: {{wheelsArray[0].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(wheelsArray[0].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/wheels_2.jpg" alt="sasiu2">
                    </div>
                    <div class="item-details">
                        <p>Name: {{wheelsArray[1].name}}</p>
                        <p>Manufacturer: {{wheelsArray[1].manufacturer}}</p>
                        <p>Model: {{wheelsArray[1].model}} Year: {{wheelsArray[1].year}} Type: {{wheelsArray[1].type}}
                        </p>
                        <p>Description: {{wheelsArray[1].description}}</p>
                        <p>Price: {{wheelsArray[1].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(wheelsArray[1].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/wheels_3.jpg" alt="sasiu3">
                    </div>
                    <div class="item-details">
                        <p>Name: {{wheelsArray[2].name}}</p>
                        <p>Manufacturer: {{wheelsArray[2].manufacturer}}</p>
                        <p>Model: {{wheelsArray[2].model}} Year: {{wheelsArray[2].year}} Type: {{wheelsArray[2].type}}
                        </p>
                        <p>Description: {{wheelsArray[2].description}}</p>
                        <p>Price: {{wheelsArray[2].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(wheelsArray[2].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/wheels_4.jpg" alt="sasiu4">
                    </div>
                    <div class="item-details">
                        <p>Name: {{wheelsArray[3].name}}</p>
                        <p>Manufacturer: {{wheelsArray[3].manufacturer}}</p>
                        <p>Model: {{wheelsArray[3].model}} Year: {{wheelsArray[3].year}} Type: {{wheelsArray[3].type}}
                        </p>
                        <p>Description: {{wheelsArray[3].description}}</p>
                        <p>Price: {{wheelsArray[3].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(wheelsArray[3].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/wheels_5.jpg" alt="sasiu5">
                    </div>
                    <div class="item-details">
                        <p>Name: {{wheelsArray[4].name}}</p>
                        <p>Manufacturer: {{wheelsArray[4].manufacturer}}</p>
                        <p>Model: {{wheelsArray[4].model}} Year: {{wheelsArray[4].year}} Type: {{wheelsArray[4].type}}
                        </p>
                        <p>Description: {{wheelsArray[4].description}}</p>
                        <p>Price: {{wheelsArray[4].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(wheelsArray[4].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/wheels_6.jpg" alt="sasiu6">
                    </div>
                    <div class="item-details">
                        <p>Name: {{wheelsArray[5].name}}</p>
                        <p>Manufacturer: {{wheelsArray[5].manufacturer}}</p>
                        <p>Model: {{wheelsArray[5].model}} Year: {{wheelsArray[5].year}} Type: {{wheelsArray[5].type}}
                        </p>
                        <p>Description: {{wheelsArray[5].description}}</p>
                        <p>Price: {{wheelsArray[5].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(wheelsArray[5].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/wheels_7.jpg" alt="sasiu7">
                    </div>
                    <div class="item-details">
                        <p>Name: {{wheelsArray[6].name}}</p>
                        <p>Manufacturer: {{wheelsArray[6].manufacturer}}</p>
                        <p>Model: {{wheelsArray[6].model}} Year: {{wheelsArray[6].year}} Type: {{wheelsArray[6].type}}
                        </p>
                        <p>Description: {{wheelsArray[6].description}}</p>
                        <p>Price: {{wheelsArray[6].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(wheelsArray[6].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/wheels_8.jpg" alt="sasiu8">
                    </div>
                    <div class="item-details">
                        <p>Name: {{wheelsArray[7].name}}</p>
                        <p>Manufacturer: {{wheelsArray[7].manufacturer}}</p>
                        <p>Model: {{wheelsArray[7].model}} Year: {{wheelsArray[7].year}} Type: {{wheelsArray[7].type}}
                        </p>
                        <p>Description: {{wheelsArray[7].description}}</p>
                        <p>Price: {{wheelsArray[7].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(wheelsArray[7].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/wheels_9.jpg" alt="sasiu9">
                    </div>
                    <div class="item-details">
                        <p>Name: {{wheelsArray[8].name}}</p>
                        <p>Manufacturer: {{wheelsArray[8].manufacturer}}</p>
                        <p>Model: {{wheelsArray[8].model}} Year: {{wheelsArray[8].year}} Type: {{wheelsArray[8].type}}
                        </p>
                        <p>Description: {{wheelsArray[8].description}}</p>
                        <p>Price: {{wheelsArray[8].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(wheelsArray[8].id)">Add To
                            Cart</button>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/wheels_10.jpg" alt="sasiu10">
                    </div>
                    <div class="item-details">
                        <p>Name: {{wheelsArray[9].name}}</p>
                        <p>Manufacturer: {{wheelsArray[9].manufacturer}}</p>
                        <p>Model: {{wheelsArray[9].model}} Year: {{wheelsArray[9].year}} Type: {{wheelsArray[9].type}}
                        </p>
                        <p>Description: {{wheelsArray[9].description}}</p>
                        <p>Price: {{wheelsArray[9].price}}</p>
                        <button class="btn btn-primary" type="button" (click)="addToCart(wheelsArray[9].id)">Add To
                            Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>