<div class="outer">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="fa-solid fa-screwdriver-wrench"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="fa-solid fa-house" href="javascript:void(0)"> Home</a>
          </li>
          <li class="nav-item">
            <a class="fa-solid fa-user" href="javascript:void(0)"> Account</a>
          </li>
          <li class="nav-item">
            <a class="fa-solid fa-cart-shopping" href="javascript:void(0)"> Cart</a>
          </li>
        </ul>
        <form class="d-flex">
          <div class="input-field">
            <input class="form-control me-2" type="text" placeholder="Search">
            <button class="btn btn-primary" type="button">Search</button>
          </div>
        </form>
      </div>
    </div>
  </nav>
  
</div>