<div class="outer-image">
    <nav class="navbar-expand-sm bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="fa-solid fa-screwdriver-wrench"></a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-house" (click)="toDashboard()"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-user" (click)="toAccount()"> Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-cart-shopping" (click)="toCart()"> Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-car" (click)="toVin()"> VIN</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="fa-solid dropbtn bg-dark">Parts</button>
                            <div class="fa-solid dropdown-content">
                                <a (click)="toBrakes()">Brakes</a>
                                <a (click)="toEngines()">Engines</a>
                                <a (click)="toOils()">Oils</a>
                                <a (click)="toRadiators()">Radiators</a>
                                <a (click)="toSuspensions()">Suspensions</a>
                                <a (click)="toTransmisions()">Transmisions</a>
                                <a (click)="toWheels()">Wheels</a>
                                <a (click)="toChasis()">Chasis</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">
                    <div class="input-field">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="items-container mx-auto">
            <div class="grid-container">
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_1.jpg" alt="sasiu1">
                    </div>
                    <div class="item-details">
                        <p>Name: {{chasisArray[0].name}}</p>
                        <p>Manufacturer: {{chasisArray[0].manufacturer}}</p>
                        <p>Model: {{chasisArray[0].model}} Year: {{chasisArray[0].year}} Type: {{chasisArray[0].type}}</p>
                        <p>Description: {{chasisArray[0].description}}</p>
                        <p>Price: {{chasisArray[0].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_2.jpg" alt="sasiu2">
                    </div>
                    <div class="item-details">
                        <p>Name: {{chasisArray[1].name}}</p>
                        <p>Manufacturer: {{chasisArray[1].manufacturer}}</p>
                        <p>Model: {{chasisArray[1].model}} Year: {{chasisArray[1].year}} Type: {{chasisArray[1].type}}</p>
                        <p>Description: {{chasisArray[1].description}}</p>
                        <p>Price: {{chasisArray[1].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_3.jpg" alt="sasiu3">
                    </div>
                    <div class="item-details">
                        <p>Name: {{chasisArray[2].name}}</p>
                        <p>Manufacturer: {{chasisArray[2].manufacturer}}</p>
                        <p>Model: {{chasisArray[2].model}} Year: {{chasisArray[2].year}} Type: {{chasisArray[2].type}}</p>
                        <p>Description: {{chasisArray[2].description}}</p>
                        <p>Price: {{chasisArray[2].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_4.jpg" alt="sasiu4">
                    </div>
                    <div class="item-details">
                        <p>Name: {{chasisArray[3].name}}</p>
                        <p>Manufacturer: {{chasisArray[3].manufacturer}}</p>
                        <p>Model: {{chasisArray[3].model}} Year: {{chasisArray[3].year}} Type: {{chasisArray[3].type}}</p>
                        <p>Description: {{chasisArray[3].description}}</p>
                        <p>Price: {{chasisArray[3].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_5.jpg" alt="sasiu5">
                    </div>
                    <div class="item-details">
                        <p>Name: {{chasisArray[4].name}}</p>
                        <p>Manufacturer: {{chasisArray[4].manufacturer}}</p>
                        <p>Model: {{chasisArray[4].model}} Year: {{chasisArray[4].year}} Type: {{chasisArray[4].type}}</p>
                        <p>Description: {{chasisArray[4].description}}</p>
                        <p>Price: {{chasisArray[4].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_6.jpg" alt="sasiu6">
                    </div>
                    <div class="item-details">
                        <p>Name: {{chasisArray[5].name}}</p>
                        <p>Manufacturer: {{chasisArray[5].manufacturer}}</p>
                        <p>Model: {{chasisArray[5].model}} Year: {{chasisArray[5].year}} Type: {{chasisArray[5].type}}</p>
                        <p>Description: {{chasisArray[5].description}}</p>
                        <p>Price: {{chasisArray[5].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_7.jpg" alt="sasiu7">
                    </div>
                    <div class="item-details">
                        <p>Name: {{chasisArray[6].name}}</p>
                        <p>Manufacturer: {{chasisArray[6].manufacturer}}</p>
                        <p>Model: {{chasisArray[6].model}} Year: {{chasisArray[6].year}} Type: {{chasisArray[6].type}}</p>
                        <p>Description: {{chasisArray[6].description}}</p>
                        <p>Price: {{chasisArray[6].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_8.jpg" alt="sasiu8">
                    </div>
                    <div class="item-details">
                        <p>Name: {{chasisArray[7].name}}</p>
                        <p>Manufacturer: {{chasisArray[7].manufacturer}}</p>
                        <p>Model: {{chasisArray[7].model}} Year: {{chasisArray[7].year}} Type: {{chasisArray[7].type}}</p>
                        <p>Description: {{chasisArray[7].description}}</p>
                        <p>Price: {{chasisArray[7].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" class=" image-display" src="assets/images/chasis_9.jpg"
                            alt="sasiu9">
                    </div>
                    <div class="item-details">
                        <p>Name: {{chasisArray[8].name}}</p>
                        <p>Manufacturer: {{chasisArray[8].manufacturer}}</p>
                        <p>Model: {{chasisArray[8].model}} Year: {{chasisArray[8].year}} Type: {{chasisArray[8].type}}</p>
                        <p>Description: {{chasisArray[8].description}}</p>
                        <p>Price: {{chasisArray[8].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_10.jpg" alt="sasiu10">
                    </div>
                    <div class="item-details">
                        <p>Name: {{chasisArray[9].name}}</p>
                        <p>Manufacturer: {{chasisArray[9].manufacturer}}</p>
                        <p>Model: {{chasisArray[9].model}} Year: {{chasisArray[9].year}} Type: {{chasisArray[9].type}}</p>
                        <p>Description: {{chasisArray[9].description}}</p>
                        <p>Price: {{chasisArray[9].price}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>