<div class="outer-image">
    <nav class="navbar-expand-sm bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="fa-solid fa-screwdriver-wrench"></a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-house" (click)="toDashboard()"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-user" (click)="toAccount()"> Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-cart-shopping" (click)="toCart()"> Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-car" (click)="toVin()"> VIN</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="fa-solid dropbtn bg-dark">Parts</button>
                            <div class="fa-solid dropdown-content">
                                <a (click)="toBrakes()">Brakes</a>
                                <a (click)="toEngines()">Engines</a>
                                <a (click)="toOils()">Oils</a>
                                <a (click)="toRadiators()">Radiators</a>
                                <a (click)="toSuspensions()">Suspensions</a>
                                <a (click)="toTransmisions()">Transmisions</a>
                                <a (click)="toWheels()">Wheels</a>
                                <a (click)="toChasis()">Chasis</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">
                    <div class="input-field">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="items-container mx-auto">
            <div class="grid-container">
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_1.jpg" alt="sasiu1">
                    </div>
                    <div class="item-details">
                        <p>Name: Item 1</p>
                        <p>Manufacturer: Manufacturer 1</p>
                        <p>Model: Model 1 Year: 2023 Type: Type 1</p>
                        <p>Description: Description of item 1.</p>
                        <p>Price: $100</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_2.jpg" alt="sasiu2">
                    </div>
                    <div class="item-details">
                        <p>Name: Item 2</p>
                        <p>Manufacturer: Manufacturer 2</p>
                        <p>Model: Model 2 Year: 2023 Type: Type 2</p>
                        <p>Description: Description of item 2.</p>
                        <p>Price: $100</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_3.jpg" alt="sasiu3">
                    </div>
                    <div class="item-details">
                        <p>Name: Item 3</p>
                        <p>Manufacturer: Manufacturer 3</p>
                        <p>Model: Model 3 Year: 2023 Type: Type 3</p>
                        <p>Description: Description of item 3.</p>
                        <p>Price: $500</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_4.jpg" alt="sasiu4">
                    </div>
                    <div class="item-details">
                        <p>Name: Item 4</p>
                        <p>Manufacturer: Manufacturer 4</p>
                        <p>Model: Model 4 Year: 2023 Type: Type 4</p>
                        <p>Description: Description of item 4.</p>
                        <p>Price: $400</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_5.jpg" alt="sasiu5">
                    </div>
                    <div class="item-details">
                        <p>Name: Item 5</p>
                        <p>Manufacturer: Manufacturer 5</p>
                        <p>Model: Model 5 Year: 2023 Type: Type 5</p>
                        <p>Description: Description of item 5.</p>
                        <p>Price: $500</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_6.jpg" alt="sasiu6">
                    </div>
                    <div class="item-details">
                        <p>Name: Item 6</p>
                        <p>Manufacturer: Manufacturer 6</p>
                        <p>Model: Model 6 Year: 2023 Type: Type 6</p>
                        <p>Description: Description of item 6.</p>
                        <p>Price: $600</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_7.jpg" alt="sasiu7">
                    </div>
                    <div class="item-details">
                        <p>Name: Item 7</p>
                        <p>Manufacturer: Manufacturer 7</p>
                        <p>Model: Model 7 Year: 2023 Type: Type 7</p>
                        <p>Description: Description of item 7.</p>
                        <p>Price: $700</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_8.jpg" alt="sasiu8">
                    </div>
                    <div class="item-details">
                        <p>Name: Item 8</p>
                        <p>Manufacturer: Manufacturer 8</p>
                        <p>Model: Model 8 Year: 2023 Type: Type 8</p>
                        <p>Description: Description of item 8.</p>
                        <p>Price: $800</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" class=" image-display" src="assets/images/chasis_9.jpg"
                            alt="sasiu9">
                    </div>
                    <div class="item-details">
                        <p>Name: Item 9</p>
                        <p>Manufacturer: Manufacturer 9</p>
                        <p>Model: Model 9 Year: 2023 Type: Type 9</p>
                        <p>Description: Description of item 9.</p>
                        <p>Price: $900</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/chasis_10.jpg" alt="sasiu10">
                    </div>
                    <div class="item-details">
                        <p>Name: Item 10</p>
                        <p>Manufacturer: Manufacturer 10</p>
                        <p>Model: Model 10 Year: 2023 Type: Type 10</p>
                        <p>Description: Description of item 10.</p>
                        <p>Price: $1000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>