.outer-image {
    height: 100vh;
    background-image: url('../../../../../../../Images/CarPartsStoreIMAGE.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.nav-item {
    padding: 10px;
    padding-left: 30px;
}

.fa-solid {
    cursor: pointer;
}

.input-field {
    border-radius: 0px;
    padding: 20px;
    padding-left: 70%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #4343ff;
}

.fa-screwdriver-wrench {
    font-size: 32px;
    padding-left: 25px;
}

/* Dropdown Button */
.dropbtn {
    /* background-color: #4343ff; */
    color: #337ab7;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #337ab7;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #337ab7;
}

/* centered container */
.items-container {
    margin-top: 5%;
    width: 80%;
    height: auto;
    background-color: azure;
    border-radius: 20px;
}

/* grid for the items*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
}

.grid-item-picture {

    background-repeat: no-repeat;
    background-size: contain;
    width: 25vh;
    height: 25vh;
    border-radius: 20px;
    margin-bottom: 10px;
}

.additional-item-selector {
    margin-top: 20px;
}

.grid-item img {

    height: auto;
    margin-bottom: 10px;
}

.item-details p {
    margin: 5px 0;
}

/* images, cuz html is dumb af */
.bg11 {
    background-image: url('../../../../../../../SQLScripts/ii/chasis/1.jpg');
}

.bg2 {
    background-image: url('../../../../../../../SQLScripts/ii/chasis/2.jpg');
}

.bg3 {
    background-image: url('../../../../../../../SQLScripts/ii/chasis/3.jpg');
}

.bg4 {
    background-image: url('../../../../../../../SQLScripts/ii/chasis/4.jpg');
}

.bg5 {
    background-image: url('../../../../../../../SQLScripts/ii/chasis/5.jpg');
}

.bg6 {
    background-image: url('../../../../../../../SQLScripts/ii/chasis/6.jpg');
}

.bg7 {
    background-image: url('../../../../../../../SQLScripts/ii/chasis/7.jpg');
}

.bg8 {
    background-image: url('../../../../../../../SQLScripts/ii/chasis/8.jpg');
}

.bg9 {
    background-image: url('../../../../../../../SQLScripts/ii/chasis/9.jpg');
}

.bg10 {
    background-image: url('../../../../../../../SQLScripts/ii/chasis/10.jpg');
}