<div class="outer-image">
    <nav class="navbar-expand-sm bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="fa-solid fa-screwdriver-wrench"></a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-house" (click)="toDashboard()"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-user" (click)="toAccount()"> Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-cart-shopping" (click)="toCart()"> Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-car" (click)="toVin()"> VIN</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="fa-solid dropbtn bg-dark">Parts</button>
                            <div class="fa-solid dropdown-content">
                                <a (click)="toBrakes()">Brakes</a>
                                <a (click)="toEngines()">Engines</a>
                                <a (click)="toOils()">Oils</a>
                                <a (click)="toRadiators()">Radiators</a> 
                                <a (click)="toSuspensions()">Suspensions</a>
                                <a (click)="toTransmisions()">Transmisions</a>
                                <a (click)="toWheels()">Wheels</a>
                                <a (click)="toChasis()">Chasis</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">
                    <div class="input-field">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>
                    </div>
                </form>
            </div>

        </div>
    </nav>
    <div class="items-container mx-auto">
        <div class="grid-container">
            <div class="grid-item">
                <div class="bg1 grid-item-picture mx-auto">
                </div>
                <div class="item-details">
                    <p>Name: {{brakesArray[0].name}}</p>
                    <p>Manufacturer: {{brakesArray[0].manufacturer}}</p>
                    <p>Model: {{brakesArray[0].model}} Year: {{brakesArray[0].year}} Type: {{brakesArray[0].type}}</p>
                    <p>Description: {{brakesArray[0].description}}</p>
                    <p>Price: {{brakesArray[0].price}}</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="bg2 grid-item-picture mx-auto">
                </div>
                <div class="item-details">
                    <p>Name: {{brakesArray[1].name}}</p>
                    <p>Manufacturer: {{brakesArray[1].manufacturer}}</p>
                    <p>Model: {{brakesArray[1].model}} Year: {{brakesArray[1].year}} Type: {{brakesArray[1].type}}</p>
                    <p>Description: {{brakesArray[1].description}}</p>
                    <p>Price: {{brakesArray[1].price}}</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="bg3 grid-item-picture mx-auto">
                </div>
                <div class="item-details">
                    <p>Name: {{brakesArray[2].name}}</p>
                    <p>Manufacturer: {{brakesArray[2].manufacturer}}</p>
                    <p>Model: {{brakesArray[2].model}} Year: {{brakesArray[2].year}} Type: {{brakesArray[2].type}}</p>
                    <p>Description: {{brakesArray[2].description}}</p>
                    <p>Price: {{brakesArray[2].price}}</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="bg4 grid-item-picture mx-auto">
                </div>
                <div class="item-details">
                    <p>Name: {{brakesArray[3].name}}</p>
                    <p>Manufacturer: {{brakesArray[3].manufacturer}}</p>
                    <p>Model: {{brakesArray[3].model}} Year: {{brakesArray[3].year}} Type: {{brakesArray[3].type}}</p>
                    <p>Description: {{brakesArray[3].description}}</p>
                    <p>Price: {{brakesArray[3].price}}</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="bg5 grid-item-picture mx-auto">
                </div>
                <div class="item-details">
                    <p>Name: {{brakesArray[5].name}}</p>
                    <p>Manufacturer: {{brakesArray[5].manufacturer}}</p>
                    <p>Model: {{brakesArray[5].model}} Year: {{brakesArray[5].year}} Type: {{brakesArray[5].type}}</p>
                    <p>Description: {{brakesArray[5].description}}</p>
                    <p>Price: {{brakesArray[5].price}}</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="bg6 grid-item-picture mx-auto">
                </div>
                <div class="item-details">
                    <p>Name: {{brakesArray[6].name}}</p>
                    <p>Manufacturer: {{brakesArray[6].manufacturer}}</p>
                    <p>Model: {{brakesArray[6].model}} Year: {{brakesArray[6].year}} Type: {{brakesArray[6].type}}</p>
                    <p>Description: {{brakesArray[6].description}}</p>
                    <p>Price: {{brakesArray[6].price}}</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="bg7 grid-item-picture mx-auto">
                </div>
                <div class="item-details">
                    <p>Name: {{brakesArray[7].name}}</p>
                    <p>Manufacturer: {{brakesArray[7].manufacturer}}</p>
                    <p>Model: {{brakesArray[7].model}} Year: {{brakesArray[7].year}} Type: {{brakesArray[7].type}}</p>
                    <p>Description: {{brakesArray[2].description}}</p>
                    <p>Price: {{brakesArray[7].price}}</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="bg8 grid-item-picture mx-auto">
                </div>
                <div class="item-details">
                    <p>Name: {{brakesArray[7].name}}</p>
                    <p>Manufacturer: {{brakesArray[7].manufacturer}}</p>
                    <p>Model: {{brakesArray[7].model}} Year: {{brakesArray[7].year}} Type: {{brakesArray[7].type}}</p>
                    <p>Description: {{brakesArray[7].description}}</p>
                    <p>Price: {{brakesArray[7].price}}</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="bg9 grid-item-picture mx-auto">
                </div>
                <div class="item-details">
                    <p>Name: {{brakesArray[8].name}}</p>
                    <p>Manufacturer: {{brakesArray[8].manufacturer}}</p>
                    <p>Model: {{brakesArray[8].model}} Year: {{brakesArray[8].year}} Type: {{brakesArray[8].type}}</p>
                    <p>Description: {{brakesArray[8].description}}</p>
                    <p>Price: {{brakesArray[8].price}}</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="bg10 grid-item-picture mx-auto">
                </div>
                <div class="item-details">
                    <p>Name: {{brakesArray[9].name}}</p>
                    <p>Manufacturer: {{brakesArray[9].manufacturer}}</p>
                    <p>Model: {{brakesArray[9].model}} Year: {{brakesArray[9].year}} Type: {{brakesArray[9].type}}</p>
                    <p>Description: {{brakesArray[9].description}}</p>
                    <p>Price: {{brakesArray[9].price}}</p>
                </div>
            </div>

        </div>
    </div>
</div>