<div class="outer-image">
    <nav class="navbar-expand-sm bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="fa-solid fa-screwdriver-wrench"></a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-house" (click)="toDashboard()"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-user" (click)="toAccount()"> Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-cart-shopping" (click)="toCart()"> Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-car" (click)="toVin()"> VIN</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="fa-solid dropbtn bg-dark">Parts</button>
                            <div class="fa-solid dropdown-content">
                                <a (click)="toBrakes()">Brakes</a>
                                <a (click)="toEngines()">Engines</a>
                                <a (click)="toOils()">Oils</a>
                                <a (click)="toRadiators()">Radiators</a> 
                                <a (click)="toSuspensions()">Suspensions</a>
                                <a (click)="toTransmisions()">Transmisions</a>
                                <a (click)="toWheels()">Wheels</a>
                                <a (click)="toChasis()">Chasis</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">
                    <div class="input-field">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="items-container mx-auto">
            <div class="grid-container">
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/motor_1.png" alt="sasiu1">
                    </div>
                    <div class="item-details">
                        <p>Name: {{enginesArray[0].name}}</p>
                        <p>Manufacturer: {{enginesArray[0].manufacturer}}</p>
                        <p>Model: {{enginesArray[0].model}} Year: {{enginesArray[0].year}} Type: {{enginesArray[0].type}}</p>
                        <p>Description: {{enginesArray[0].description}}</p>
                        <p>Price: {{enginesArray[0].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/motor_2.png" alt="sasiu2">
                    </div>
                    <div class="item-details">
                        <p>Name: {{enginesArray[1].name}}</p>
                        <p>Manufacturer: {{enginesArray[1].manufacturer}}</p>
                        <p>Model: {{enginesArray[1].model}} Year: {{enginesArray[1].year}} Type: {{enginesArray[1].type}}</p>
                        <p>Description: {{enginesArray[1].description}}</p>
                        <p>Price: {{enginesArray[1].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/motor_3.png" alt="sasiu3">
                    </div>
                    <div class="item-details">
                        <p>Name: {{enginesArray[2].name}}</p>
                        <p>Manufacturer: {{enginesArray[2].manufacturer}}</p>
                        <p>Model: {{enginesArray[2].model}} Year: {{enginesArray[2].year}} Type: {{enginesArray[2].type}}</p>
                        <p>Description: {{enginesArray[2].description}}</p>
                        <p>Price: {{enginesArray[2].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/motor_4.png" alt="sasiu4">
                    </div>
                    <div class="item-details">
                        <p>Name: {{enginesArray[3].name}}</p>
                        <p>Manufacturer: {{enginesArray[3].manufacturer}}</p>
                        <p>Model: {{enginesArray[3].model}} Year: {{enginesArray[3].year}} Type: {{enginesArray[3].type}}</p>
                        <p>Description: {{enginesArray[3].description}}</p>
                        <p>Price: {{enginesArray[3].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/motor_5.png" alt="sasiu5">
                    </div>
                    <div class="item-details">
                        <p>Name: {{enginesArray[4].name}}</p>
                        <p>Manufacturer: {{enginesArray[4].manufacturer}}</p>
                        <p>Model: {{enginesArray[4].model}} Year: {{enginesArray[4].year}} Type: {{enginesArray[4].type}}</p>
                        <p>Description: {{enginesArray[4].description}}</p>
                        <p>Price: {{enginesArray[4].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/motor_6.png" alt="sasiu6">
                    </div>
                    <div class="item-details">
                        <p>Name: {{enginesArray[5].name}}</p>
                        <p>Manufacturer: {{enginesArray[5].manufacturer}}</p>
                        <p>Model: {{enginesArray[5].model}} Year: {{enginesArray[5].year}} Type: {{enginesArray[5].type}}</p>
                        <p>Description: {{enginesArray[5].description}}</p>
                        <p>Price: {{enginesArray[5].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/motor_7.png" alt="sasiu7">
                    </div>
                    <div class="item-details">
                        <p>Name: {{enginesArray[6].name}}</p>
                        <p>Manufacturer: {{enginesArray[6].manufacturer}}</p>
                        <p>Model: {{enginesArray[6].model}} Year: {{enginesArray[6].year}} Type: {{enginesArray[6].type}}</p>
                        <p>Description: {{enginesArray[6].description}}</p>
                        <p>Price: {{enginesArray[6].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/motor_8.png" alt="sasiu8">
                    </div>
                    <div class="item-details">
                        <p>Name: {{enginesArray[7].name}}</p>
                        <p>Manufacturer: {{enginesArray[7].manufacturer}}</p>
                        <p>Model: {{enginesArray[7].model}} Year: {{enginesArray[7].year}} Type: {{enginesArray[7].type}}</p>
                        <p>Description: {{enginesArray[7].description}}</p>
                        <p>Price: {{enginesArray[7].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" class=" image-display" src="assets/images/motor_9.png.jpg"
                            alt="sasiu9">
                    </div>
                    <div class="item-details">
                        <p>Name: {{enginesArray[8].name}}</p>
                        <p>Manufacturer: {{enginesArray[8].manufacturer}}</p>
                        <p>Model: {{enginesArray[8].model}} Year: {{enginesArray[8].year}} Type: {{enginesArray[8].type}}</p>
                        <p>Description: {{enginesArray[8].description}}</p>
                        <p>Price: {{enginesArray[8].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/motor_10.png" alt="sasiu10">
                    </div>
                    <div class="item-details">
                        <p>Name: {{enginesArray[9].name}}</p>
                        <p>Manufacturer: {{enginesArray[9].manufacturer}}</p>
                        <p>Model: {{enginesArray[9].model}} Year: {{enginesArray[9].year}} Type: {{enginesArray[9].type}}</p>
                        <p>Description: {{enginesArray[9].description}}</p>
                        <p>Price: {{enginesArray[9].price}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>