<div class="outer-image">
    <nav class="navbar-expand-sm bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="fa-solid fa-screwdriver-wrench"></a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-house" (click)="toDashboard()"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-user" (click)="toAccount()"> Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-cart-shopping" (click)="toCart()"> Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-car" (click)="toVin()"> VIN</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="fa-solid dropbtn bg-dark">Parts</button>
                            <div class="fa-solid dropdown-content">
                                <a (click)="toBrakes()">Brakes</a>
                                <a (click)="toEngines()">Engines</a>
                                <a (click)="toOils()">Oils</a>
                                <a (click)="toRadiators()">Radiators</a> 
                                <a (click)="toSuspensions()">Suspensions</a>
                                <a (click)="toTransmisions()">Transmisions</a>
                                <a (click)="toWheels()">Wheels</a>
                                <a (click)="toChasis()">Chasis</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">
                    <div class="input-field">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="items-container mx-auto">
            <div class="grid-container">
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/radiators_1.jpg" alt="sasiu1">
                    </div>
                    <div class="item-details">
                        <p>Name: {{radiatorsArray[0].name}}</p>
                        <p>Manufacturer: {{radiatorsArray[0].manufacturer}}</p>
                        <p>Model: {{radiatorsArray[0].model}} Year: {{radiatorsArray[0].year}} Type: {{radiatorsArray[0].type}}</p>
                        <p>Description: {{radiatorsArray[0].description}}</p>
                        <p>Price: {{radiatorsArray[0].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/radiators_2.jpg" alt="sasiu2">
                    </div>
                    <div class="item-details">
                        <p>Name: {{radiatorsArray[1].name}}</p>
                        <p>Manufacturer: {{radiatorsArray[1].manufacturer}}</p>
                        <p>Model: {{radiatorsArray[1].model}} Year: {{radiatorsArray[1].year}} Type: {{radiatorsArray[1].type}}</p>
                        <p>Description: {{radiatorsArray[1].description}}</p>
                        <p>Price: {{radiatorsArray[1].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/radiators_3.jpg" alt="sasiu3">
                    </div>
                    <div class="item-details">
                        <p>Name: {{radiatorsArray[2].name}}</p>
                        <p>Manufacturer: {{radiatorsArray[2].manufacturer}}</p>
                        <p>Model: {{radiatorsArray[2].model}} Year: {{radiatorsArray[2].year}} Type: {{radiatorsArray[2].type}}</p>
                        <p>Description: {{radiatorsArray[2].description}}</p>
                        <p>Price: {{radiatorsArray[2].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/radiators_4.jpg" alt="sasiu4">
                    </div>
                    <div class="item-details">
                        <p>Name: {{radiatorsArray[3].name}}</p>
                        <p>Manufacturer: {{radiatorsArray[3].manufacturer}}</p>
                        <p>Model: {{radiatorsArray[3].model}} Year: {{radiatorsArray[3].year}} Type: {{radiatorsArray[3].type}}</p>
                        <p>Description: {{radiatorsArray[3].description}}</p>
                        <p>Price: {{radiatorsArray[3].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/radiators_5.jpg" alt="sasiu5">
                    </div>
                    <div class="item-details">
                        <p>Name: {{radiatorsArray[4].name}}</p>
                        <p>Manufacturer: {{radiatorsArray[4].manufacturer}}</p>
                        <p>Model: {{radiatorsArray[4].model}} Year: {{radiatorsArray[4].year}} Type: {{radiatorsArray[4].type}}</p>
                        <p>Description: {{radiatorsArray[4].description}}</p>
                        <p>Price: {{radiatorsArray[4].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/radiators_6.jpg" alt="sasiu6">
                    </div>
                    <div class="item-details">
                        <p>Name: {{radiatorsArray[5].name}}</p>
                        <p>Manufacturer: {{radiatorsArray[5].manufacturer}}</p>
                        <p>Model: {{radiatorsArray[5].model}} Year: {{radiatorsArray[5].year}} Type: {{radiatorsArray[5].type}}</p>
                        <p>Description: {{radiatorsArray[5].description}}</p>
                        <p>Price: {{radiatorsArray[5].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/radiators_7.jpg" alt="sasiu7">
                    </div>
                    <div class="item-details">
                        <p>Name: {{radiatorsArray[6].name}}</p>
                        <p>Manufacturer: {{radiatorsArray[6].manufacturer}}</p>
                        <p>Model: {{radiatorsArray[6].model}} Year: {{radiatorsArray[6].year}} Type: {{radiatorsArray[6].type}}</p>
                        <p>Description: {{radiatorsArray[6].description}}</p>
                        <p>Price: {{radiatorsArray[6].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/radiators_8.jpg" alt="sasiu8">
                    </div>
                    <div class="item-details">
                        <p>Name: {{radiatorsArray[7].name}}</p>
                        <p>Manufacturer: {{radiatorsArray[7].manufacturer}}</p>
                        <p>Model: {{radiatorsArray[7].model}} Year: {{radiatorsArray[7].year}} Type: {{radiatorsArray[7].type}}</p>
                        <p>Description: {{radiatorsArray[7].description}}</p>
                        <p>Price: {{radiatorsArray[7].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/radiators_9.jpg" alt="sasiu9">
                    </div>
                    <div class="item-details">
                        <p>Name: {{radiatorsArray[8].name}}</p>
                        <p>Manufacturer: {{radiatorsArray[8].manufacturer}}</p>
                        <p>Model: {{radiatorsArray[8].model}} Year: {{radiatorsArray[8].year}} Type: {{radiatorsArray[8].type}}</p>
                        <p>Description: {{radiatorsArray[8].description}}</p>
                        <p>Price: {{radiatorsArray[8].price}}</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-picture mx-auto">
                        <img class=" image-display" src="assets/images/radiators_10.jpg" alt="sasiu10">
                    </div>
                    <div class="item-details">
                        <p>Name: {{radiatorsArray[9].name}}</p>
                        <p>Manufacturer: {{radiatorsArray[9].manufacturer}}</p>
                        <p>Model: {{radiatorsArray[9].model}} Year: {{radiatorsArray[9].year}} Type: {{radiatorsArray[9].type}}</p>
                        <p>Description: {{radiatorsArray[9].description}}</p>
                        <p>Price: {{radiatorsArray[9].price}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>