<div class="outer-image">
    <nav class="navbar-expand-sm bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="fa-solid fa-screwdriver-wrench"></a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-house" (click)="toDashboard()"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-user" (click)="toAccount()"> Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-cart-shopping" (click)="toCart()"> Cart</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="fa-solid dropbtn bg-dark">Parts</button>
                            <div class="fa-solid dropdown-content">
                                <a (click)="toBrakes()">Brakes</a>
                                <a (click)="toEngines()">Engines</a>
                                <a (click)="toOils()">Oils</a>
                                <a (click)="toRadiators()">Radiators</a> 
                                <a (click)="toSuspensions()">Suspensions</a>
                                <a (click)="toTransmisions()">Transmisions</a>
                                <a (click)="toWheels()">Wheels</a>
                                <a (click)="toChasis()">Chasis</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div #decoder class="panel">
            <h2 class="font-weight-bold text-center">
                <p class="p-title">VIN Decoder</p>
            </h2>
            <form>
                <div class="input-field">
                    <span class="fa-regular text-center"></span>
                    <input type="text" size="40%" placeholder="VIN" [(ngModel)]="vinPostObject.vin" name="vin" required>

                </div>
                <div class="enter-heading">
                    <button class="btn-enter btn-primary" (click)="onClickProcess()">Process</button>
                </div>
                <div *ngIf="vinNotOK" class="alert alert-failed">
                    <strong>
                        Invalid VIN! Please enter a valid17-character VIN consisting of uppercase letters and numbers.
                    </strong>
                    <button type="button" class="fa-solid fa-x " (click)="removevinNotOk()"></button>
                </div>
            </form>
        </div>
        <div #info class="panel" [hidden]="true">
            <h2 class="font-weight-bold text-center">
                <p class="p-info">Here is the data about your car according to our database</p>
                <style type="text/css">
                    .tg {
                        border-collapse: collapse;
                        border-spacing: 0;
                    }

                    .tg td {
                        border-color: rgb(255, 255, 255);
                        border-style: solid;
                        border-width: 3px;
                        font-family: Arial, sans-serif;
                        font-size: 14px;
                        overflow: hidden;
                        padding: 10px 5px;
                        word-break: normal;
                        align-self: center;
                    }

                    .tg th {
                        border-color: rgb(255, 255, 255);
                        border-style: solid;
                        border-width: 3px;
                        font-family: Arial, sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        overflow: hidden;
                        padding: 10px 5px;
                        word-break: normal;
                    }

                    .tg .tg-baqh {
                        text-align: center;
                        vertical-align: top;
                        color: #ffffff;
                    }

                    .tg .tg-0lax {
                        text-align: center;
                        vertical-align: top;
                        color: #ffffff;
                    }
                </style>
                <div class="mx-auto">
                    <table class="tg center">
                        <thead>
                            <tr>
                                <th class="tg-baqh">VIN</th>
                                <th class="tg-0lax">Location</th>
                                <th class="tg-baqh">Manufacturer</th>
                                <th class="tg-0lax">Fuel Type</th>
                                <th class="tg-0lax">Model</th>
                                <th class="tg-0lax">Engine Size [cm^3]</th>
                                <th class="tg-0lax">Engine Type</th>
                                <th class="tg-0lax">Security Code</th>
                                <th class="tg-0lax">Model Year</th>
                                <th class="tg-0lax">Assembly Plant</th>
                                <th class="tg-0lax">Serial Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tg-0lax">{{vinObject.vin}}</td>
                                <td class="tg-0lax">{{vinObject.location}}</td>
                                <td class="tg-0lax">{{vinObject.manufacturer}}</td>
                                <td class="tg-0lax">{{vinObject.fuelType}}</td>
                                <td class="tg-0lax">{{vinObject.model}}</td>
                                <td class="tg-0lax">{{vinObject.engineSize}}</td>
                                <td class="tg-0lax">{{vinObject.engineType}}</td>
                                <td class="tg-0lax">{{vinObject.securityCode}}</td>
                                <td class="tg-0lax">{{vinObject.modelYear}}</td>
                                <td class="tg-0lax">{{vinObject.assemblyPlant}}</td>
                                <td class="tg-0lax">{{vinObject.serialNumber}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn-enter btn-primary" (click)="exchange() ">Back</button>
            </h2>
            <!-- Add content here to display VIN information -->
        </div>
    </div>
</div>